.introduction {
  width: 500px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.toppage {
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.features img {
  height: 60%;
  width: auto;
}

.detail{
  width: 800px;
  max-width: 90%;
  margin-left: auto;
  margin-right:auto;
}

.content{
  margin-left: 25px;
}

.image {
  width: 100%;
  max-width: 500px;
  height: auto;
  aspect-ratio: 4 / 3;  /* widthの3/4の比率を設定 */
  object-fit: cover;
  object-position: center;
  margin-left: auto;
  margin-right: auto;
}


.icon {
  width: 30px;
  height:auto;
}

.group {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* アニメーションの設定 */
  width: 100%;
}

.group:hover {
  transform: scale(1.05); /* サイズを拡大 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* 影を強調 */
}

.chat {
  display: inline-block;display: inline-block;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: black;
}
.chat:hover {
  transform: scale(1.1);
}

.event p{
  font-size: 20px;
}

.header {
  width: 100%;           /* 親要素に対して幅を100% */
  max-width: 300px;      /* 最大幅を300pxに設定 */
  aspect-ratio: 4 / 3;   /* アスペクト比を3:4に設定 */
  object-fit: cover;     /* はみ出た部分を隠す */
  object-position: center; 
}

@media (min-width: 576px) {
  .header {
    max-width: 300px;    /* 幅を300pxに設定 */
  }
}

@media (min-width: 768px) {
  .header {
    max-width: 280px;    /* 幅を280pxに設定 */
  }
}

@media (min-width: 992px) {
  .header {
    max-width: 300px;    /* 幅を300pxに設定 */
  }
}



.profile-icon {
  width: 150px;
  height: 150px;
  object-fit: cover; /* 画像の比率を維持しつつ、枠内に収める */
  object-position: center; /* 中央に配置 */
}

.profile-group {
  width : 400px;
  background-color: rgb(246, 246, 235);
  max-width: 95%;
}
.profile-group b {
  font-size: 20px;
  color: black;
}
.profile-group p {
  font-size: 15px;
  color: black;
}

.profile-group img {
  width: 120px;       /* 3:4アスペクト比に合わせた幅 */
  height: 90px;      /* 3:4アスペクト比に合わせた高さ */
  object-fit: cover;  /* はみ出た部分を隠す */
  object-position: center;
}

.host-label{
  background-color: white;
  color: black;
  font-size: 15px;
  display: block;
}

.profile-title {
  font-family: "Lobster", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  position: relative;
  padding: 0.25em 0;
}
.profile-title:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(0, 0, 0), transparent);
  background: linear-gradient(to right, rgb(0, 0, 0), transparent);
}

@media (max-width: 768px) {
  .profile-title {
    font-size: 20px; /* フォントサイズを小さくする */
  }
}


.title {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.modal-form {
  width: 600px;
  max-width: 100%;
}

/* ボタンの幅と高さを固定して円形にする */
.close-btn {
  width: 30px; /* 幅 */
  height: 30px; /* 高さ */
  font-size: 1.5rem; /* ×のサイズ調整 */
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm {
  width: 400px;
  height: auto;
  max-width: 80%; 
}

.deleteAccount{
      width: fit-content;
      height: fit-content;
      cursor: default;
}
.deleteAccount:hover{
  cursor: 'none';
  text-decoration: underline;
}